.container {
    max-width: 1170px;
    margin: auto;
  }
  .row {
    /*display: flex;*/
    flex-wrap: wrap;
    text-align: center;
  }
  .flex {
   display: flex;
    align-items: center;
  }
  .col-4 {
    margin-left: 375px;
    padding-top: 101px;
  }
  .col-5 {
    margin-left: 375px
  }
