:root {
    --white: #ffffff;
    --violet: #b35ae9;
    --blye: #010c39;
    --cloem: #2bb6c2;
    --cloemn: #82dea1;
    --black: #010c39;
    --gray: #8a8a8a;
	--redHat: 'Red Hat Text', sans-serif;
}



