.header {
    position: absolute;
    padding-left: 375px;
    z-index: 4;

}
.header__logo {
    padding-top: 30px;
    display: flex;
    width: 50px;
    height: 51px;
}

.nav__menu {
    display: flex;
    padding-top: 6px;
    color: white;
    font-size: 17px;
    align-items: center;
}

.nav__item {
    list-style: none;
    margin-left: 61px;
}

.nav__link {
    text-decoration: none;
    color:white;
}
.header__button {
    color:white;
    padding-left: 311px;
}