.services {
    background: url('../../img/back.png') center no-repeat;
    margin: auto;
    width: 1920px;
    height: 930px;
}

.services__content {
    padding-top: 81px;
    text-align: center;
}

.services__title {
    margin: 0;
    font-size: 18px;
    line-height: 53px;
    color: #a841e6;
    font-weight: 700;
    font-family: "Karla";
    text-align: center;
}

.services__subtitle {
    padding-top: 37px;
    margin: 0;
    font-size: 45px;
    line-height: 53px;
    color: #010c39;
    font-weight: 700;
    font-family: "Work Sans";
    text-align: center;
}

.col-3__content {
    padding: 89px 0 60px;
}

.linie {
    padding-top: 39px;
    text-align: center;
}

.col__content {
    background: url('../../img/col-back.png') center no-repeat;
    box-sizing: border-box;
    width: 270px;
    height: 400px;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px rgba(191, 191, 191, 0.15));
    background-color: #ffffff;
}

.services__icon,
.services__text,
.services__text2,
.services__text3 {
    margin: 0;
    padding-left: 41px;
}

.services__icon {
    padding-top: 45px;
}

.services__text {
    padding-top: 44px;
    font-size: 23px;
    line-height: 30px;
    color: #010c39;
    font-weight: 600;
    font-family: "Work Sans";
}

.services__text2 {
    margin: 0;
    padding-top: 29px;
    padding-left: 41px;
    font-size: 16px;
    line-height: 26px;
    color: #c9c9c9;
    font-weight: 400;
    font-family: "Karla";
}

.services__text3 {
    width: 80px;
    height: 13px;
    padding-top: 36px;
    font-size: 16px;
    line-height: 26px;
    color: #010c39;
    font-weight: 700;
    font-family: "Karla";
    text-decoration: none;
}

.services__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn {
    width: 200px;
    height: 58px;
    border-radius: 50px;
    background-image: linear-gradient(130deg, #7525d7 0%, #f169fd 100%);
    font-size: 17px;
    line-height: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Karla";
    text-align: center;
    text-decoration: none;
    padding: 22px 42px 22px;
    white-space: nowrap;
    box-sizing: border-box;
}